.MainSlider {
  width: 100%;
  height: 700px;
  background-image: url("../../img/main\ pizza\ recipe.jpg");
  background-size: cover;
}
.MainSlider__Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 700px;
  margin: auto;
  position: relative;
}
.MainInfo {
  left: 0;
  display: flex;
  flex-direction: column;
}
.MainInfo > h1 {
  color: #f2f2f2;
  font-size: 100px;
  letter-spacing: 10px;
}
.MainInfo > h1 span {
  color: #f2c94c;
}
.MainInfo > p {
  color: #f2f2f2;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 45px;
}
.MoreInfo__btn {
  background-color: #f2c94c;
  border: 2px solid #f2c94c;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  margin-top: 15px;
}
.MoreInfo__btn:hover {
  border: 2px solid #f2c94c;
  background-color: transparent;
  color: #f2c94c;
}
.MainSlider__Icons {
  position: absolute;
  left: 50%;
  top: 93%;
}
.MainSlider__Icons > .MuiSvgIcon-root {
  font-size: 35px;
}
