.Footer {
  width: 100%;
  height: 240px;
  background-color: #333333;
}
.FooterContainer {
  width: 70%;
  height: 240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FooterLogo {
  width: 270px;
  height: 150px;
  background-image: url("../../img/Foodie.png");
  background-repeat: no-repeat;
  background-position: center;
}
.FooterContacts {
  display: flex;
  flex-direction: column;
}
.FooterContacts h3 {
  color: #bdbdbd;
  font-size: 20px;
  margin-bottom: 20px;
}
.ContactEmail {
  display: flex;
  margin-bottom: 10px;
}
.ContactEmail > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.ContacftPhone {
  display: flex;
}
.ContacftPhone > p {
  color: #ffffff;
  font-size: 18px;
}
.SocialIcons {
  display: flex;
}
.Copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bdbdbd;
  font-size: 16px;
}
.Copyright > .MuiSvgIcon-root {
  color: #bdbdbd;
  font-size: 20px;
  margin-right: 5px;
}
.Icons {
  margin-right: 15px;
}
